<div class="widget">
  <div class="widget__images">
    <div class="widget__single-image"></div>
    <div class="widget__single-image"></div>
    <div class="widget__single-image"></div>
  </div>
  <h4 class="widget__title">Интересные каналы про лалаала</h4>
  <p class="widget__info">
    Создатель
    <a class="widget__link">dfdsfdsfs</a>
  </p>
  <div class="widget__followers">
    <p class="widget__info">Отслеживают</p>
    <div class="widget__follower-images">
      <div class="widget__single-follower-image"></div>
      <div class="widget__single-follower-image"></div>
      <div class="widget__single-follower-image"></div>
    </div>
  </div>
  <button class="widget__button">
    <i class="fas fa-star widget__star"></i>
    <span>Добавить в избранное</span>
  </button>
</div>
